/*UNIVERSAL---------------------*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: #f0efef;
  display: flex;
}

/* 
h4 {
  color: black;
  font-size: 62px;
}

p {
  color: white;
  font-size: 54px;
} */

/*NAVIGATION----------------------------------------------------------*/
nav {
  background-color: #242424;
  width: 40%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 90%;
  padding-top: 5%;
}

h2 {
  color: white;
  font-size: 2em;
  padding-left: 5%;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

form {
  height: 10%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-box {
  height: 25px; 
  width: 45%;
  border-radius: 25px;
}

.filter-favorites-btn {
  max-height: 30px; 
  width: 10vw;
  margin: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.filter-favorites-btn:hover {
  transform: scale(1.15);
}

.filter-favorites-star {
  height: 30px;
  width: 30px;
}

.filter-favorites-text {
  font-size: 1em;
  color: white;
  margin-left: 5%;
}

/*NAVIGATION // RECIPE LIST-------------------------------------------*/

.recipe-list {
  height: 75%;
  padding: 5%;
  margin-bottom: 5%;
  overflow-y: scroll;
  scrollbar-color: black;
  width: 85%;
}

.meal-preview {
  border: solid 1px steelblue;
  height: 30vh;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}

.meal-preview:hover {
  background-color: #383838;
}

.meal-img-preview {
  height: 100%;
}

.meal-info-preview {
  padding-left: 5%;
  width: 100%;
}

h3 {
  color: white;
  font-size: 1.5em;
}

.meal-preview-cost {
  color: white;
  font-size: 1.2em;
}

.favorite-status {
  height: 30px;
  width: 30px;
  background-image: url(./images/star-icon-white.png);
  background-size: cover;
}

/*RECIPE--------------------------------------------------------------*/

.selected-recipe {
  border: solid 7px orange;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.recipe {
  border: solid 3px purple;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.selected-dish {
  width: 500px;
}

.instructions {
  overflow-y: scroll;
  width: 100%;
}

.step-number {
  border: solid 3px green;
  font-size: 36px;
  height: 700px;
}

.recipe-details {
  border: solid 3px pink;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-of-ingredients {
  border: solid 3px brown;
  width: 100%;
  height: 700px;
  font-size: 30px;
}
