/*UNIVERSAL---------------------*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: #f0efef;
  display: flex;
}

/*NAVIGATION----------------------------------------------------------*/
nav {
  background-color: #242424;
  width: 40%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
  width: 90%;
  padding-top: 5%;
}

h1 {
  color: white;
  font-size: 2em;
  padding-left: 5%;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.form {
  height: 10%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-box {
  height: 25px; 
  width: 45%;
  border-radius: 25px;
}

.filter-favorites-btn {
  max-height: 30px; 
  width: 20vw;
  margin: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.filter-favorites-btn:hover {
  transform: scale(1.15);
}

.filter-favorites-star {
  height: 30px;
  width: 30px;
}

.filter-favorites-text {
  font-size: 1em;
  color: white;
  margin-left: 5%;
}

/*NAVIGATION // RECIPE LIST-------------------------------------------*/

.recipe-list {
  height: 75%;
  padding: 5%;
  margin-bottom: 5%;
  overflow-y: scroll;
  scrollbar-color: black;
  width: 85%;
}

.meal-preview {
  height: 30vh;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.meal-preview:hover {
  background-color: #383838;
}

.meal-img-preview {
  height: 80%;
  margin-left: 5%;
}

.meal-info-preview {
  padding-left: 5%;
  width: 100%;
}

h2 {
  color: white;
  font-size: 1.5em;
}

.meal-preview-cost {
  color: white;
  font-size: 1.2em;
}

.favorite-status {
  height: 30px;
  width: 30px;
  background-image: url(./images/star-icon-white.png);
  background-size: cover;
}

/*MAIN DISPLAY --------------------------------------------------------*/

.selected-recipe {
  width: 60%;
  display: flex;
  flex-direction: row;
}

/*MAIN DISPLAY // RECIPE ----------------------------------------------*/

.recipe {
  height: 100%;
  width: 62%;
  padding-left: 8%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-name {
  color: #F94A47;
  padding: 0;
  margin-top: 5vh;
  margin-bottom: 5%;
}

.selected-dish-img {
  width: 70%;
}

h3 {
  color: black;
  font-size: 1.5em;
}

.directions {
  width: 85%;
  overflow-y: scroll;
  margin-top: 0;
  margin-bottom: 5%;
}

.step-number {
  font-size: 1em;
  margin-top: 0;
}

/*MAIN DISPLAY // RECIPE DETAILS ------------------------------------------*/

.recipe-details {
  width: 38%;
  box-shadow:rgba(0, 0, 0, 0.20) 0px 5px 15px;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.recipe-cost {
  margin-top: 5vh;
}

.favorites-btn {
  max-height: 30px; 
  width: 10vw;
  margin-top: 7%;
  margin-bottom: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.favorites-btn:hover {
  transform: scale(1.15);
}

.favorites-star {
  height: 50px;
  width: 50px;
}

.favorites-text {
  font-size: 1.5em;
  color: black;
  margin-left: 5%;
}

.list-of-ingredients {
  margin: 0;
  overflow-y: scroll;
  width: 65%;
  font-size: 1em;
}