/*UNIVERSAL---------------------*/
body {
  background-color: #f0efef;
  display: flex;
}

h2 {
  border: solid 3px blue;
  font-size: 74px;
}

h3 {
  font-size: 62px;
  color: white;
}

h4 {
  color: black;
  font-size: 62px;
}

p {
  font-size: 54px;
}
/*NAVIGATION--------------------*/
nav {
  background-color: #242424;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  border: solid 3px red;
  width: 100%;
}
.recipe-title {
  margin-top: 20px;
  color: white;
}

form {
  border: solid 3px yellow;
  height: 60px;
  display: flex;
}

.search-box {
  height: 100%;
  width: 80%;
}

.search-button {
  font-size: 62px;
}

.first-recipe,
.second-recipe,
.third-recipe,
.fourth-recipe {
  display: flex;
  flex-direction: row;
}
.recipe-list {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
}

/*RECIPE------------------------*/

.selected-recipe {
  border: solid 7px orange;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.recipe {
  border: solid 3px purple;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions {
  overflow-y: scroll;
  /* scrollbar-color: rebeccapurple green;
  scrollbar-width: thin; */
}

.step-number {
  font-size: 30px;
  border: solid 3px green;
  height: 700px;
}

.recipe-details {
  border: solid 3px pink;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selected-dish {
  width: 275px;
}
